<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender with a pattern layout encoder -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define the encoder -->
        <encoder>
            <!-- Define the layout pattern -->
            <pattern>%message%n</pattern>
        </encoder>
    </appender>


    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
